xarray
fsspec
gcsfs
pandas
numpy
rioxarray
cartopy
matplotlib
showit
carbonplan_data
carbonplan_styles
zarr
git+git://github.com/TomNicholas/datatree@54edbf77fdc756b74bfca00986f4a68e04643b29
git+git://github.com/carbonplan/ndpyramid
